<div class="panel panel-default" style="margin-top: 20px;">
    <div class="panel-heading"><strong>Contact Us</strong></div>
    <div class="panel-body">
        <p>
            This application was written to show off how easy it is to create a website in the cloud.
            <br />
            We are using Microsoft Azure for hosting of both the website and the database.
            <br />
            We used angular.js and bootstrap for the user experience.
            <br />
            <a href="/Home/Teapot">Only problem is that we have no idea what we are doing....</a> 
        </p>
    </div>
</div>
