<div class="panel panel-default" style="margin-top: 20px;">
    <div class="panel-heading"><strong>Contact Us</strong></div>
    <div class="panel-body">
        <p>For all support calls please contact <a href="/Home/Teapot">Govind R.</a></p>
    </div>
</div>
