<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://callmanagement.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>callmanagement.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>callManagement</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$callManagement</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=j2r5educ7q.database.windows.net;Initial Catalog=CallManagement;User ID=jmahan;Password=43@t43r!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CallManagement.Client.Models.ApplicationDbContext, CallManagement.Client" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="CallManagementContext" Order="2" Enabled="False">
          <Destination Path="Data Source=j2r5educ7q.database.windows.net;Initial Catalog=CallManagement;User ID=jmahan;Password=43@t43r!" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="CallManagement.Model.Models.CallManagementContext, CallManagement.Model" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CallManagementContext-Web.config Connection String">
      <ParameterValue>Data Source=j2r5educ7q.database.windows.net;Initial Catalog=CallManagement;User ID=jmahan;Password=43@t43r!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=j2r5educ7q.database.windows.net;Initial Catalog=CallManagement;User ID=jmahan;Password=43@t43r!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>